img.home1 {
    border-radius: 50%;
    width:300px;
}

a.home1:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a.home1:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

a.home1:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a.home1:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
